@import '../colors.scss';

input {
  border: none;
  border-bottom: $font-color solid 3px;
  background: transparent;
  width: 100%;
  padding: 3px;

  &:focus {
    outline: none;
    transform: scale(1.02);
  }
}

::-webkit-input-placeholder {
  color: $font-color;
  font-weight: 700;
}

::-ms-input-placeholder {
  color: $font-color;
  font-weight: 700;
}

::-moz-placeholder {
  color: $font-color;
  font-weight: 700;
}

:-webkit-input-placeholder {
  color: $font-color;
  font-weight: 700;
}